doctype html
html(lang="en")
  head
    //style
    // include style.css
    meta(charset='utf-8')
    title Roominator
    script(src="https://code.jquery.com/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="")
    link(rel='stylesheet', type='text/css', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
  body
      div(class='div-class')
          form(id="tab_form" )
             button.btn.btn-primary(class="button" href="/rentee" locaton.href="/rentee") I Need a place to live
             button.btn.btn-primary(class="button" href="/rentee" locaton.href="/rentee") I have a place and want roommates
             a(class='button' href='/rentor') rentor
             a(class='button' href='/rentee') rentee
      