doctype html
html(lang="en")
  head
    //style
    // include style.css
    meta(charset='utf-8')
    title Roominator
    script(src="https://code.jquery.com/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="")
    link(rel='stylesheet', type='text/css', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
  body
     form(id="tab_form" )
       h1 Welcome to Roominator
       p Roominator is a website designed to help you find or get roommates!
       p It is easy to use, just follow these steps: 
       ol 
         li Register
         li Choose either find a place or list a place
         li If you have a place to live already, prepare for emails.  Otherwise a list of compatible roommates will be listed
       p Although the survey is designed to screen out inappropriate candidates, communicating with a potential roommate is the next step
       //p title
       //p message
       //button.btn.btn-primary(class="button" href="/rentee" locaton.href="/rentee") Sign up 
       a(class='button' href='/signup') Register
       |&nbsp
       |&nbsp
       |&nbsp
       |&nbsp
       |&nbsp
       |&nbsp
       |&nbsp
       |&nbsp
       a(class='button' href='/signin') Sign In
//    .container
//      fieldset
//       form(action='/', method='post')
//        input.ghost-input(name='city', type='text', placeholder='Enter a City', required='')
