doctype html
html(lang="en")
  head
    //style
    // include style.css
    meta(charset='utf-8')
    title Roominator
    script(src="https://code.jquery.com/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="")
    link(rel='stylesheet', type='text/css', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
  body
     form(method='POST' id="tab_form" action='/api/signup')
       div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
       div.form-group
          label(for='password') Password:
          input#pw.form-control(type='password' name='password')
       button.btn.btn-primary(type='submit') Sign up


//  <script src="w3multiform.js"></script>
//    .container
//      fieldset
//       form(action='/', method='post')
//        input.ghost-input(name='city', type='text', placeholder='Enter a City', required='')
