doctype html
html(lang="en")
  head
    //style
    // include style.css
    meta(charset='utf-8')
    title Roominator
    script(src="https://code.jquery.com/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="")
    link(rel='stylesheet', type='text/css', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
  body
     form(id="tab_form" )
        <h1>Success!  You have successfully created a profile.</h1>
        <h1>Prepare to receive emails<h1>
